BODY {
  --white: #f0f7ee;
  --light1: #c4d7f2;
  --light2: #afdedc;
  --dark1: #91a8a4;
  --dark2: #776871;
}
.app--component{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: var(--white);
  font-family: Helvetica, sans-serif;
  
}
.chat-container {
  height: calc(100% - 40px);
  padding: 0 1rem;
  display: flex;
}
.chat {
  height: 100%;
  width: 50%;
}
NAV {
  height: 40px;
  background: var(--dark2);
  color: var(--white);
  padding: 10px 1rem;
}
.user-input-container{
  height: 60px;
}
.messages-container{
  height: calc(100% - 60px);
  color: var(--dark2);
  overflow-y: auto;
}
INPUT {
  width: 100%;
}
.general {
  border-right: 1px solid var(--dark1);
  padding-right: 1rem;
}
.admin {
  padding-left: 1rem;
}
.notAdmin {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}